/* styles/ExperienceSection.css */
.experience-section {
    padding: 2rem 0;
    background-color: #DFE4FB; /* Светлый фон для секции */
    margin: 0 ; /* Убираем отступы по краям у фона */
}

.experience-section .container {
    max-width: 1100px; /* Ограничение ширины контента */
    margin: 0 auto; /* Центрируем контент */
     /* Добавляем отступы для контента */
}

.icon-container {
    margin-bottom: 1rem;
}

.icon-image {
    width: 80px; /* Размер изображений */
    height: 80px;
    object-fit: cover; /* Сохраняем пропорции */
}

.h22 {
    font-size: 2.5rem; /* Размер заголовка по умолчанию */
    color: #01125C; /* Цвет заголовка */
    margin-bottom: 2rem;
}

.h33 {
    font-size: 1.75rem; /* Размер подзаголовка по умолчанию */
    color: #01125C; /* Цвет подзаголовков */
    margin-bottom: 1rem;
}

.pp {
    font-size: 1rem; /* Размер текста по умолчанию */
    color: #555; /* Цвет текста */
    line-height: 1.6;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 992px) {
    .h22 {
        font-size: 2rem; /* Уменьшаем размер заголовка на планшетах */
    }

    .h33 {
        font-size: 1.5rem; /* Уменьшаем размер подзаголовка на планшетах */
    }

    .pp {
        font-size: 0.9rem; /* Уменьшаем размер текста на планшетах */
    }
}

@media (max-width: 768px) {
    .h22 {
        font-size: 1.75rem; /* Уменьшаем размер заголовка на мобильных устройствах */
    }

    .h33 {
        font-size: 1.25rem; /* Уменьшаем размер подзаголовка на мобильных устройствах */
    }

    .pp {
        font-size: 0.85rem; /* Уменьшаем размер текста на мобильных устройствах */
    }
}

@media (max-width: 576px) {
    .h22 {
        font-size: 1.5rem; /* Еще меньше размер заголовка на очень маленьких экранах */
    }

    .h33 {
        font-size: 1.1rem; /* Еще меньше размер подзаголовка на очень маленьких экранах */
    }

    .pp {
        font-size: 0.8rem; /* Еще меньше размер текста на очень маленьких экранах */
    }
}