.table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #DFE4FB !important; /* Цвет для нечетных строк */
}

.table.table-striped tbody tr:nth-of-type(even) {
    background-color: #FFFFFF !important; /* Цвет для четных строк */
}

/* Стиль при наведении */
.table.table-hover tbody tr:hover {
    background-color: #DFE4FB !important; /* Цвет при наведении */
}